pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.DS_Store
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.scad
*.webm
*.mov
*.png
*.html
*.svg
*.mp4
*.step
*.stl
